{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>My Cart</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>

<div class="container">

    <aside class="sidebar">
        <h2>Atelier</h2>
        <ul>
            <li onclick="goToDashboard()">Marketplace</li>
            <li class="active">Cart</li>
            <li onclick="goToOrders()">Orders</li>
            <li onclick="logout()">Logout</li>
        </ul>
    </aside>

    <main class="main-content">
        <h1>My Cart</h1>

        <div id="cart-items"></div>

        <div id="cart-summary" style="margin-top:20px;"></div>
    </main>

</div>

<script src="{% static 'js/cart.js' %}"></script>
</body>
</html>
